<h1>Coaching#answer</h1>

<h2>
<%= @question %> -You
</h2>

<h2>
<%= @answer %> - Coach
</h2>

<!-- <form action="/answer" method="get">
  <input type="text" name="query" placeholder="What is your reply?">
  <input type="submit">
</form> -->

<%= link_to "Ask another question", ask_path %>
